body{
    background: #8b8a8a;
    font-family: Times ;
    font-size: 15px;
    line-height: 84.69%; 
}


h1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    color: #707211;
    background: #c5c3c3;
}

h2 {  
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #707211;
    background: #c5c3c3;   
 }

.Foto{
    transform: scale(0.7,0.7);
    display: block;
    margin: auto;
}

.Negrita-italica{
    
    font-family: Times ;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 84.69%;
}

.Negrita{
    font-family: Times ;
    font-weight: bold;
    font-size: 15px;
    line-height: 84.69%;
}

.Footer {

    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    color: #ffffff;
    background: #005677;
    
}

.alinear {
    display: inline-flex;
    width: 100%;
}
    
